@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');
@import "../sass/utils/variables.scss";
@import "../sass/utils/animations.scss";
@import "../sass/utils/mixins.scss";
@import "../sass/layout/header.scss";
@import "../sass/layout/footer.scss";
@import "../sass/components/buttons.scss";
@import "../sass/components/hearts.scss";
@import "../sass/layout/restaurants_pages.scss";

/* --GLOBAL-- */
body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    font-family: "Roboto", "Shrikhand", "Arial", "Helvetica";
    text-decoration: none;
}

a,
a:visited {
    color: var(--black);
}

article {
    display: block
}

ul {
    list-style-type: none;
}

.h1_shrikhand {
    font-family: "Shrikhand", serif;
    font-size: 1.75rem;
}

h3 {
    font-family: Roboto;
}

/* --LOCALISATION-- */
#location {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    background-color: #eaeaea;

    .location_city {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 18px;
        height: 60px;

        #location_city_input {
            width: 120px;
            height: 60px;
            background-color: transparent;
            border: 0px;
            font-size: 1.1rem;
        }
    }
}

/* --SECTION EXPLORE-- */
#explore {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f6f6f6;
    text-align: center;
    padding: 30px;
}


/* --SECTION FUNCTIONING-- */
#h2_functioning {
    padding: 10px 0 0 30px;
}

.functioning_card {
    display: flex;
    font-family: Roboto;
    font-weight: bold;
    align-items: center;
    width: 95%;
    height: 75px;
    background-color: #F2F2F2;
    position: relative;
    margin-bottom: 25px;
    border-radius: 20px;
    box-shadow: 0px 5px 6px 2px #B3B3B3;

    &:hover {
        @include box_shadow;
        opacity: 0.8;
        text-decoration: none;
        background-color: lighten($color-primary, 30%)
    }
}

.circle {
    background-color: $color-primary;
    color: white;
    width: 2rem;
    line-height: 2rem;
    border-radius: 50%;
    text-align: center;
    font-size: 0.9rem;
    position: absolute;
    left: -1rem;
    z-index: 0;
}

.fa_margin {
    margin: 25px;
    font-size: 18px;
}

/* --SECTION RESTAURANTS-- */
#restaurants {
    background-color: #F2F2F2;
    padding: 30px;
}

#restaurant_list {
    display: flex;
    flex-direction: column;
}

.restaurant_card {
    display: block;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: white;
    width: 100%;
    position: relative;

    .restaurant_img {
        width: 100%;
        height: 175px;
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .new {
        position: absolute;
        text-align: center;
        color: #34a98c;
        background-color: #99e2d0;
        top: 2px;
        right: 10px;
    }

    .restaurant_text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 30px;
        padding-left: 15px;
    }
}

/* --MEDIA QUERIES-- */

/* -- TABLET-- */
@media only screen and (min-width:768px) {
    .restaurant_card {
        width: 48%;
        display: block;
        margin-bottom: 20px;
        border-radius: 30px;
        background-color: white;
    }

    #restaurant_list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 18px;
    }
}

/* --DESKTOP-- */
@media only screen and (min-width:1024px) {

    .title_footer {
        text-align: center;
    }

    .ul_footer {
        align-items: center;
    }

    .global_menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 2%;

    }

    .starters,
    .main_courses,
    .desserts {
        width: 30%;
    }
}